html, body, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("miles_morales_background.jpeg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    color: rgba(0,0,0);
}